<div class = "container__big-card">
    <div class = "big-card__photo">
        <img src="https://i.pinimg.com/736x/a1/4b/f5/a14bf5670ec21d4d3e3d049a2bdf8998.jpg"
        alt = ""
        height="350px"
        srcset="">
    </div>
    <div class = "big-card__title">
        <h1><a href="#">All about his upcoming portuguese book "Três Borboletas Brancas"</a></h1>
    </div>
    <div class = big-card__description>
        <p>
            <a href="#">Get to know more about his first novel, yet to be released in later 2025!
            </a>
        </p>
    </div>
</div>