<div class = "container__small-card">
    <div class = "container__small-card-content">
        <div class ="small-card__photo">
            <img src="https://storage.googleapis.com/yk-cdn/photos/cusblack/franck-bohbot/les-deux-magots-paris.jpg"
            alt = ""
            height="350px"
            srcset="">
        </div>
        <div class = "small-card__title">
            <h1><a href="#">Temporario</a></h1>
        </div>
        </div>

<div class = small-card__description>
    <p>
        <a href="#">
        </a>
    </p>
</div>

<div class = "container__small-card__separator">
  <hr>
</div>

</div>

